<div class="wrapper login">
  <form [formGroup]="loginForm">
    <h2>Login</h2>
    <input type='text' formControlName="username" class="form-control" id="username"
           #username placeholder="Login" />
    <app-error-message [control]="loginForm.controls.username"></app-error-message>
    <input type='password' formControlName="password" class="form-control" id="password"
           #password placeholder="Password" />
    <app-error-message [control]="loginForm.controls.password"></app-error-message>
    <button type="Submit" class="btn btn-primary" [disabled]='!loginForm.valid'
            (click)="save()">Submit</button>
  </form>
</div>
